.container{
    max-width: 1920px;
    padding:0;
}

.section_Project{
    background: #B0C4DE;
}

.ProjectArea{
    max-width:1500px;
    margin:auto;
    padding-top: 50px;
}

.Project_white_Title{
    font-size: 26px;
    font-family: 'Noto Sans TC', sans-serif;
    color: #272929;
    text-align: center;
    padding-top: 50px;
}

.Project_section_Bar{
    width: 30%;
    height: 3px;
    margin-top: 25px;
    background-color: #272929;
}

/*白塊+陰影+hover浮動---Start*/
.Portfolio_Block{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
    background-color: antiquewhite;
    border-radius: 5px;
    position: relative;
    max-width:400px;
    margin: auto;
    margin-bottom: 30px;
    /*margin-top: 50px;*/
    padding: 0;
    transition: 0.3s;
}

.Portfolio_Block:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
    background-color: antiquewhite;
    border-radius: 5px;
    position: relative;
    max-width:400px;
    margin: auto;
    transform: translateY(-10px);
    margin-bottom: 30px;
    padding: 0;
}

.Portfolio_Icon{
    width:100%;
    height:250px;
    display:block;
    margin:auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.Portfolio_Title{
    font-size: 24px;
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
    color: #272929;
    padding-top: 25px;
    padding-bottom: 25px;
}
/*白塊+陰影+hover浮動---End*/

#back-to-top-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
    border: 3px solid #333;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
    z-index: 15;
}

#back-to-top-btn:hover, #back-to-top-btn:focus{
    background-color: #333;
    color: #fff;
}

/*彈出式視窗功能實作---Start*/
*, *::after, *::before {
    box-sizing: border-box;
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 10;
    background-color: white;
    max-width: 70%;
    height: 75%;
    border: none;
    outline: none;
    outline: 0;
  }
  
  .popup.active {
    transform: translate(-50%, -50%) scale(1);
    border: none;
    outline: none;
    outline: 0;
  
  }
  
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .popup-header .popup-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .popup-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .popup-button{
    text-align: right;
    float: right;
  }
  
  .popup-title p{
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  
  .popup-bar{
    border-bottom: 1px solid black;
    height: 10%;
  }
  
  .popup-body {
    max-height: 90%;
    overflow: auto;
    overflow-y: auto;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
    border: none;
    outline: none;
  }
  
  .Btn{
    background-color:transparent;
    border: none;
    outline: none;
    padding: 0;
  }
  .Btn:focus{
    background-color:transparent;
    border: none;
    outline: none;
  }
  
  .popup-content{
    white-space:pre-line;
    text-align: left;
    margin-bottom: 0;
    max-height: 100%;
    padding: 0 10%;
  }
  
  .popup-intro{
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding-top: 30px*/
    /*padding-bottom: 4%;*/
  }
/*彈出式視窗功能實作---End*/

/*幻燈片功能實作_Start*/
.slider{
    width: 768px;
    height: 432px;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    margin-top:30px;
    margin-bottom: 30px;
  }
  
  .slides{
    width: 500%;
    height: 432px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 25%;
    transition: 2s;
  }
  
  .slide img{
    width: 768px;
    height: 432px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 768px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #40D3DC;
  }
  
  #radio11:checked ~ .first{
    margin-left: 0;
  }
  
  #radio12:checked ~ .first{
    margin-left: -25%;
  }
  
  #radio13:checked ~ .first{
    margin-left: -50%;
  }
  
  #radio14:checked ~ .first{
    margin-left: -75%;
  }

  #radio21:checked ~ .first{
    margin-left: 0;
  }
  
  #radio22:checked ~ .first{
    margin-left: -25%;
  }
  
  #radio23:checked ~ .first{
    margin-left: -50%;
  }
  
  #radio24:checked ~ .first{
    margin-left: -75%;
  }

  #radio31:checked ~ .first{
    margin-left: 0;
  }
  
  #radio32:checked ~ .first{
    margin-left: -25%;
  }
  
  #radio33:checked ~ .first{
    margin-left: -50%;
  }
  
  #radio34:checked ~ .first{
    margin-left: -75%;
  }

  #radio41:checked ~ .first{
    margin-left: 0;
  }
  
  #radio42:checked ~ .first{
    margin-left: -25%;
  }
  
  #radio43:checked ~ .first{
    margin-left: -50%;
  }
  
  #radio51:checked ~ .first{
    margin-left: 0;
  }
  #radio52:checked ~ .first{
    margin-left: -25%;
  }
  
  #radio53:checked ~ .first{
    margin-left: -50%;
  }
  
  #radio54:checked ~ .first{
    margin-left: -75%;
  }
  
  #radio61:checked ~ .first{
    margin-left: 0;
  }

  #radio71:checked ~ .first{
    margin-left: 0;
  }

  #radio81:checked ~ .first{
    margin-left: 0;
  }

  #radio91:checked ~ .first{
    margin-left: 0;
  }

  #radio101:checked ~ .first{
    margin-left: 0;
  }

  #radio111:checked ~ .first{
    margin-left: 0;
  }
  #radio112:checked ~ .first{
    margin-left: -25%;
  }
  
  #radio113:checked ~ .first{
    margin-left: -50%;
  }

  #radio121:checked ~ .first{
    margin-left: 0;
  }

  #radio131:checked ~ .first{
    margin-left: 0;
  }
  
  #radio132:checked ~ .first{
    margin-left: -25%;
  }
  
  #radio133:checked ~ .first{
    margin-left: -50%;
  }
  
  #radio134:checked ~ .first{
    margin-left: -75%;
  }

  #radio141:checked ~ .first{
    margin-left: 0;
  }
  
  #radio142:checked ~ .first{
    margin-left: -25%;
  }
  
  #radio143:checked ~ .first{
    margin-left: -50%;
  }

  #radio161:checked ~ .first{
    margin-left: 0;
  }
  
  #radio162:checked ~ .first{
    margin-left: -25%;
  }
  
  #radio163:checked ~ .first{
    margin-left: -50%;
  }
  
  #radio171:checked ~ .first{
    margin-left: 0;
  }
  
  #radio172:checked ~ .first{
    margin-left: -25%;
  }
  
  #radio173:checked ~ .first{
    margin-left: -50%;
  }

  #radio181:checked ~ .first{
    margin-left: 0;
  }
  
  #radio182:checked ~ .first{
    margin-left: -25%;
  }
  
  #radio183:checked ~ .first{
    margin-left: -50%;
  }
  
  #radio191:checked ~ .first{
    margin-left: 0;
  }
  
  #radio192:checked ~ .first{
    margin-left: -25%;
  }
  
  #radio193:checked ~ .first{
    margin-left: -50%;
  }

  #radio194:checked ~ .first{
    margin-left: -75%;
  }

  #radio201:checked ~ .first{
    margin-left: 0;
  }
  
  #radio202:checked ~ .first{
    margin-left: -25%;
  }
  
  #radio203:checked ~ .first{
    margin-left: -50%;
  }

  #radio211:checked ~ .first{
    margin-left: 0;
  }
  
  #radio221:checked ~ .first{
    margin-left: 0;
  }
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 768px;
    justify-content: center;
    margin-top: 392px;
  }
  
  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;

  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;

  }
  
  #radio11:checked ~ .navigation-auto .auto-btn11{
    background: #40D3DC;
  }
  
  #radio12:checked ~ .navigation-auto .auto-btn12{
    background: #40D3DC;
  }
  
  #radio13:checked ~ .navigation-auto .auto-btn13{
    background: #40D3DC;
  }
  
  #radio14:checked ~ .navigation-auto .auto-btn14{
    background: #40D3DC;
  }

  #radio21:checked ~ .navigation-auto .auto-btn21{
    background: #40D3DC;
  }
  
  #radio22:checked ~ .navigation-auto .auto-btn22{
    background: #40D3DC;
  }
  
  #radio23:checked ~ .navigation-auto .auto-btn23{
    background: #40D3DC;
  }
  
  #radio24:checked ~ .navigation-auto .auto-btn24{
    background: #40D3DC;
  }
  
  #radio31:checked ~ .navigation-auto .auto-btn31{
    background: #40D3DC;
  }
  
  #radio32:checked ~ .navigation-auto .auto-btn32{
    background: #40D3DC;
  }
  
  #radio33:checked ~ .navigation-auto .auto-btn33{
    background: #40D3DC;
  }
  
  #radio34:checked ~ .navigation-auto .auto-btn34{
    background: #40D3DC;
  }

  #radio41:checked ~ .navigation-auto .auto-btn41{
    background: #40D3DC;
  }
  
  #radio42:checked ~ .navigation-auto .auto-btn42{
    background: #40D3DC;
  }
  
  #radio43:checked ~ .navigation-auto .auto-btn43{
    background: #40D3DC;
  }
  
  #radio51:checked ~ .navigation-auto .auto-btn51{
    background: #40D3DC;
  }

  #radio52:checked ~ .navigation-auto .auto-btn52{
    background: #40D3DC;
  }
  
  #radio53:checked ~ .navigation-auto .auto-btn53{
    background: #40D3DC;
  }
  
  #radio54:checked ~ .navigation-auto .auto-btn54{
    background: #40D3DC;
  }
  
  #radio61:checked ~ .navigation-auto .auto-btn61{
    background: #40D3DC;
  }

  #radio71:checked ~ .navigation-auto .auto-btn71{
    background: #40D3DC;
  }

  #radio81:checked ~ .navigation-auto .auto-btn81{
    background: #40D3DC;
  }

  #radio91:checked ~ .navigation-auto .auto-btn91{
    background: #40D3DC;
  }

  #radio101:checked ~ .navigation-auto .auto-btn81{
    background: #40D3DC;
  }

  #radio111:checked ~ .navigation-auto .auto-btn51{
    background: #40D3DC;
  }

  #radio112:checked ~ .navigation-auto .auto-btn52{
    background: #40D3DC;
  }
  
  #radio113:checked ~ .navigation-auto .auto-btn53{
    background: #40D3DC;
  }

  #radio121:checked ~ .navigation-auto .auto-btn91{
    background: #40D3DC;
  }

  #radio131:checked ~ .navigation-auto .auto-btn131{
    background: #40D3DC;
  }
  
  #radio132:checked ~ .navigation-auto .auto-btn132{
    background: #40D3DC;
  }
  
  #radio133:checked ~ .navigation-auto .auto-btn133{
    background: #40D3DC;
  }
  
  #radio134:checked ~ .navigation-auto .auto-btn134{
    background: #40D3DC;
  }

  #radio141:checked ~ .navigation-auto .auto-btn141{
    background: #40D3DC;
  }
  
  #radio142:checked ~ .navigation-auto .auto-btn142{
    background: #40D3DC;
  }
  
  #radio143:checked ~ .navigation-auto .auto-btn143{
    background: #40D3DC;
  }

  #radio161:checked ~ .navigation-auto .auto-btn161{
    background: #40D3DC;
  }
  
  #radio162:checked ~ .navigation-auto .auto-btn162{
    background: #40D3DC;
  }
  
  #radio163:checked ~ .navigation-auto .auto-btn163{
    background: #40D3DC;
  }

  #radio171:checked ~ .navigation-auto .auto-btn171{
    background: #40D3DC;
  }
  
  #radio172:checked ~ .navigation-auto .auto-btn172{
    background: #40D3DC;
  }
  
  #radio173:checked ~ .navigation-auto .auto-btn173{
    background: #40D3DC;
  }
  
  #radio181:checked ~ .navigation-auto .auto-btn181{
    background: #40D3DC;
  }
  
  #radio182:checked ~ .navigation-auto .auto-btn182{
    background: #40D3DC;
  }
  
  #radio183:checked ~ .navigation-auto .auto-btn183{
    background: #40D3DC;
  }
  
  #radio191:checked ~ .navigation-auto .auto-btn191{
    background: #40D3DC;
  }
  
  #radio192:checked ~ .navigation-auto .auto-btn192{
    background: #40D3DC;
  }
  
  #radio193:checked ~ .navigation-auto .auto-btn193{
    background: #40D3DC;
  }
  
  #radio194:checked ~ .navigation-auto .auto-btn194{
    background: #40D3DC;
  }

  #radio201:checked ~ .navigation-auto .auto-btn201{
    background: #40D3DC;
  }
  
  #radio202:checked ~ .navigation-auto .auto-btn202{
    background: #40D3DC;
  }
  
  #radio203:checked ~ .navigation-auto .auto-btn203{
    background: #40D3DC;
  }
  
  #radio211:checked ~ .navigation-auto .auto-btn211{
    background: #40D3DC;
  }
  
  #radio221:checked ~ .navigation-auto .auto-btn221{
    background: #40D3DC;
  }
/*幻燈片功能實作---End*/



/*RWD---Start*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .popup-intro{
      display: flex;
      align-items: center;
      justify-content: center;
    /*padding-top: 30px*/
    /*padding-bottom: 4%;*/
    }

    .slider{
        width: 480px;
        height: 270px;
        border-radius: 10px;
        overflow: hidden;
        padding: 0;
        margin-top:30px;
        margin-bottom: 30px;
      }
      
      .slides{
        width: 500%;
        height: 270px;
        display: flex;
      }
      
      .slides input{
        display: none;
      }
      
      .slide{
        width: 25%;
        transition: 2s;
      }
      
      .slide img{
        width: 480px;
        height: 270px;
      }
      
      /*css for manual slide navigation*/
      
      .navigation-manual{
        position: absolute;
        width: 480px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
      }
      
      .manual-btn{
        border: 2px solid #40D3DC;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
      }
      
      .manual-btn:not(:last-child){
        margin-right: 40px;
      }
      
      .manual-btn:hover{
        background: #40D3DC;
      }
      
      /*css for automatic navigation*/
      
      .navigation-auto{
        position: absolute;
        display: flex;
        width: 480px;
        justify-content: center;
        margin-top: 230px;
      }
      
      .navigation-auto div{
        border: 2px solid #40D3DC;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
    
      }
      
      .navigation-auto div:not(:last-child){
        margin-right: 40px;   
      }

  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .popup-intro{
      display: flex;
      align-items: center;
      justify-content: center;
    /*padding-top: 30px*/
    /*padding-bottom: 4%;*/
    }
    
    .slider{
        width: 480px;
        height: 270px;
        border-radius: 10px;
        overflow: hidden;
        padding: 0;
        margin-top:30px;
        margin-bottom: 30px;
      }
      
      .slides{
        width: 500%;
        height: 270px;
        display: flex;
      }
      
      .slides input{
        display: none;
      }
      
      .slide{
        width: 25%;
        transition: 2s;
      }
      
      .slide img{
        width: 480px;
        height: 270px;
      }
      
      /*css for manual slide navigation*/
      
      .navigation-manual{
        position: absolute;
        width: 480px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
      }
      
      .manual-btn{
        border: 2px solid #40D3DC;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
      }
      
      .manual-btn:not(:last-child){
        margin-right: 40px;
      }
      
      .manual-btn:hover{
        background: #40D3DC;
      }
          
      /*css for automatic navigation*/
      
      .navigation-auto{
        position: absolute;
        display: flex;
        width: 480px;
        justify-content: center;
        margin-top: 230px;
      }
      
      .navigation-auto div{
        border: 2px solid #40D3DC;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
    
      }
      
      .navigation-auto div:not(:last-child){
        margin-right: 40px;   
      }

    
    #back-to-top-btn { font-size: 22px; width: 40px; height: 40px; bottom: 15px; right: 15px; }
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
    .popup-intro{
      display: flex;
      align-items: center;
      justify-content: center;
    /*padding-top: 30px*/
    /*padding-bottom: 4%;*/
    }

    .slider{
        width: 384px;
        height: 216px;
        border-radius: 10px;
        overflow: hidden;
        padding: 0;
        margin-top:30px;
        margin-bottom: 30px;
      }
      
      .slides{
        width: 500%;
        height: 216px;
        display: flex;
      }
      
      .slides input{
        display: none;
      }
      
      .slide{
        width: 25%;
        transition: 2s;
      }
      
      .slide img{
        width: 384px;
        height: 216px;
      }
      
      /*css for manual slide navigation*/
      
      .navigation-manual{
        position: absolute;
        width: 384px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
      }
      
      .manual-btn{
        border: 2px solid #40D3DC;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
      }
      
      .manual-btn:not(:last-child){
        margin-right: 40px;
      }
      
      .manual-btn:hover{
        background: #40D3DC;
      }
            
      /*css for automatic navigation*/
      
      .navigation-auto{
        position: absolute;
        display: flex;
        width: 384px;
        justify-content: center;
        margin-top: 176px;
      }
      
      .navigation-auto div{
        border: 2px solid #40D3DC;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
    
      }
      
      .navigation-auto div:not(:last-child){
        margin-right: 40px;   
      }

    #back-to-top-btn { font-size: 18px; width: 32px; height: 32px; bottom: 6px; right: 6px; }
  }
  
  @media (max-width: 575.98px){
    .popup-intro{
      display: flex;
      align-items: center;
      justify-content: center;
    /*padding-top: 30px*/
    /*padding-bottom: 4%;*/
    }

    .slider{
        width: 240px;
        height: 135px;
        border-radius: 10px;
        overflow: hidden;
        padding: 0;
        margin-top:30px;
        margin-bottom: 30px;
      }
      
      .slides{
        width: 500%;
        height: 135px;
        display: flex;
      }
      
      .slides input{
        display: none;
      }
      
      .slide{
        width: 25%;
        transition: 2s;
      }
      
      .slide img{
        width: 240px;
        height: 135px;
      }
      
      /*css for manual slide navigation*/
      
      .navigation-manual{
        position: absolute;
        width: 240px;
        margin-top: -25px;
        display: flex;
        justify-content: center;
      }
      
      .manual-btn{
        border: 2px solid #40D3DC;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
      }
      
      .manual-btn:not(:last-child){
        margin-right: 40px;
      }
      
      .manual-btn:hover{
        background: #40D3DC;
      }
      
      /*css for automatic navigation*/
      
      .navigation-auto{
        position: absolute;
        display: flex;
        width: 240px;
        justify-content: center;
        margin-top: 110px;
      }
      
      .navigation-auto div{
        border: 2px solid #40D3DC;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
    
      }
      
      .navigation-auto div:not(:last-child){
        margin-right: 40px;   
      }

    #back-to-top-btn { font-size: 18px; width: 32px; height: 32px; bottom: 6px; right: 6px; }
  }
/*RWD---End*/


/*回頂端功能實作---Start*/
/* Animations */
.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
  }
  
  /* fadeInUp */
  @keyframes btnEntrance {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;  
    animation-name: btnExit;
  }
  
  /* fadeOutDown */
  @keyframes btnExit {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  }
  /*回頂端功能實作---End*/
